main {
  width: 100%;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  text-align: center;
  justify-content: space-between;
  width: 150px;
}
ol {
  padding: 0;
}
.container__link {
  text-decoration: none;
  color: black;
}
.container__link:active {
  color: black;
}
.container__link:hover {
  color: black;
  text-decoration: underline;
}
.clock {
  position: relative;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: gold;
  outline: 30px solid grey;
  list-style: none;
}
.clock__number {
  position: absolute;
  top: 0;
  left: 49%;
  padding: 0 0 485px 0;
}

.clock__arrow {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 49%;
  background-color: black;
  transform: translate(300%, 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  border-radius: 2px;
}
.clock__arrow_hour {
  width: 45%;
  height: 10px;
}
.clock__center {
  position: absolute;

  top: 50%;
  left: 50%;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-60%, -35%);
}
.clock__arrow_minute {
  width: 65%;
  height: 5px;
}
.clock__arrow_second {
  width: 75%;
  height: 3px;
  background-color: red;
}

.halfCircle {
  width: 400px;
  height: 200px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background-color: rgb(255, 166, 0);
}
